<!doctype html>
<html>

<head>
  <title>Project Title</title>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/frame.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="css/controls.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="css/custom.css" media="screen" rel="stylesheet" type="text/css" />
  <link href='https://fonts.geekzu.org/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.geekzu.org/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.geekzu.org/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
  <script src="https://gapis.geekzu.org/ajax/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		  <style>
			.menu-index {
			  color: rgb(255, 255, 255) !important;
			  opacity: 1 !important;
			  font-weight: 700 !important;
			}
		
		  </style>
</head>

<body>
  <div class="menu-container"></div>
  <div class="content-container">
    <div class="banner">
      <div class="banner-table flex-column">
        <div class="flex-row">
          <div class="flex-item flex-column">
            <h2 class="add-top-margin-small">Results</h2>
          </div>
          <div class="menu-items flex-row-center flex-item">
				  <a href="/" class="menu-index">Analyze Survey Panel</a>
				  <a href="comparesurvey.html" class="menu-index">Compare Survey Panel</a>
           <a href="/docs.html" class="menu-index">Docs</a>
				</div>
        </div>
      </div>
    </div>

    <div class="content">
			<div class="content-table flex-column">
      <!-------------------------------------------------------------------------------------------->
        <!--Start Text Only-->
        <div class="flex-row">
          <div class="flex-item flex-column">
            <h2> Productivity Cost Overview</h2>
            <p class="text">
            According to your selection, the number of employees is estimated at {{.employees}} to participate in the subsequent financial cost
            , and the average hourly wage is calculated as ${{.money}}. Here are the results of the analysis:
            </p>
            <hr>
            <h3>Time Cost</h3>
            <p class="text">
            In terms of the time cost, averagely, each user could take {{.time}} hours a year for inputing password. The total time is {{.totalentrysec}} hours.
            The minimum time spent by all of employees for a year is {{.mintime}} hours. The maximum time spent by them for a year is {{.maxtime}} hours.
            If some of employees use mobile device, each one would spend extra {{.mobile}} hours. [1][2][3][4]
            </p>
            <h3>Error Rate</h3>
            <p class="text">
              The average error rate is {{.error}}, which means that each employee could make {{.num}} failed attempts for a year.
              The maximum error rate is {{.maxerror}}, so each employee could make at largest {{.Maxnum}} failed attempts for a year.
              The minimum error rate is {{.minerror}}, so each employee could make at least {{.Minnum}} failed attempts for a year.
              In terms of password policy, when users enter wrong password {{.failattempts}} continuously, the data on device will be wiped.
              Therefore, such condition could happen {{.wipe}} times for each user. Totally, the adminstrator should address such condition
              {{.wipetotal}} times for a year. [1][2][3][4]
            </p>
            <h3>Password Creation Cost</h3>
            <p class="text">
             The attempts of password creation is esitimated as {{.attempt}}. According to the password policy,
             employees need to reset password {{.expire}} for a year, the number of total attempts for all of employees
             is {{.totalattempt}}. [3][4]
            </p>
            <h3> Passcode Complexity </h3>
            <p class="text">
              Accroding to password policy, the more comlpex non-alphanumeric value required, more hours cost. The number of special character is {{.specialNum}}.
              The total time costed for entering non-alphanumeric for the whole company is {{.totalTime}} hours. [2]
            </p>
            <h3> Force PIN </h3>
            <p class="text">
              Each employee is required to enter PIN code for verification, the total time cost for the whole company is {{.timeauth}} hours. [5][6]
            </p>
            <h3> Authentication Time </h3>
            <p class="text">
              Each employee is required to use authencation methods for security, the total time cost for the whole company is {{.authtime}} hours. [5][6]
            </p>
            <h3> Device Encryption </h3>
            <p class="text">
              Each employee is required to use device encryption for data security, the total time cost for the whole company is {{.enctime}} hours.
            </p>

            <h3> Security Analysis </h3>
            <p class="text">
              The required minimum length is {{.length}}, and the number of required type of characters is {{.class}}.
              The password selected by the user has a {{.probability}} probability of being cracked after 10^12 guesses. [3][4]
            </p>
            <h3> Money Cost </h3>
            <p class="text">
            Finally, in terms of time cost by password, authentication and encryption, the total cost money for the whole company is ${{.totalmoney}} within a year.
            </p>
          </div>
        </div>
        <!--End Text Only-->
        <!-------------------------------------------------------------------------------------------->

        <!--start Reference -->
        <div class="flex-row">
          <div class="flex-item flex-column">
            <h2> References</h2>
            <hr>
            <p class="text">
            [1]. <a href="/docs?fileName=I Cant Type That! P@$$w0rd Entry on Mobile Devices.pdf">I Can't Type That! P@$$w0rd Entry on Mobile Devices</a><br>
          [2]. <a href="/docs?fileName=Designing Password Policies for Strength and Usability.pdf">Designing Password Policies for Strength and Usability</a><br>
          [3]. <a href="/docs?fileName=Honey, I Shrunk the Keys.pdf">Honey, I Shrunk the Keys: Influences of Mobile Devices on Password Composition and Authentication Performance</a><br>
          [4]. <a href="/docs?fileName=Usability and Security of Text Passwords on Mobile Devices.pdf">Usability and Security of Text Passwords on Mobile Devices</a><br>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>

</html>